body {
        background-image: url('Images/bg-img.png');
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat; 
        height: fit-content; 
        width: 100%; 
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.container {
    border-radius: 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: white;
    color: black;
}

h1 {
    margin: 0;
}

form {
    width: 100%;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    background-color: #3375b0;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

label {
    margin: 0.5rem 0 0.5rem 0;
    display: block;
    font-weight: 400;
    font-size: 14px;
}

textarea {
    height: 150px;
    resize: vertical;
}

select {
    font-size: 14px;
    padding: 0.8rem;
}

.asterisk {
    color: red;
}
.reg-container {
    background-color: #3375b0;
    color: white;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.success-container {
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: rgb(0, 0, 0);
    max-width: 90%;
    box-sizing: border-box;
}
.success-container p{
    text-align: center;
    font-size: 1em;
    margin: 0 0 15px 0;
}
.success-container h1{
    text-align: center;
    font-size: 1.5em;
}
.success-container img {
    width: 75px; 
    height: 75px; 
    margin-bottom: 1rem;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 999;
    display: none;  
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 24px;
    text-align: center;
}

.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #000;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
